#webapppassword-saved-message {
    display: none;
}

#webapppassword-saved-message.show {
    display: inline-block;
}

#webapppassword-origins {
    width: 100%;
}

#files-sharing-webapppassword-origins {
    width: 100%;
}